:host {
  position: absolute;
}

.map-container {
  position: absolute;
}

.messages-website {
  position: absolute;
  display: flex;
  top: 870px;
  left: 1530px;
}

.website {
  margin-right: 20px;
}

::ng-deep .cdk-overlay-container {
  position: absolute;
}

.requests {
  position: absolute;
  top: 825px;
  left: 100px;
}

.red {
  position: absolute;
  left: 70px;
  background: red;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}

.current-day {
  color: white;
  position: absolute;
  top: 20px;
  left: 1600px;
  font-size: 25px;
  white-space: nowrap;
}

.donate {
  margin-right: 10px;
}

