<div class="container">
  <div class="items-count">
    Кількість товару в машині:
    <h3> Дронів: {{this.carDrons}}</h3>
    <h3> Тепловізорів: {{this.carThermalImagers}}</h3>
  </div>

  <div class="flex">
    <button mat-raised-button (click)="openLoadCard()">Завантажити товар</button>
    <button mat-raised-button (click)="openSendItems()">Доставити товар</button>
    <button mat-raised-button (click)="openLoadToStorage()">Відвантажити на склад</button>
  </div>

  <div *ngIf="isLoadCardOpen">
    <mat-card class="load-section">
      Завантажити  зі складу:
      <span>{{baseDronCount + ' дрони'}}</span>
      <span>{{baseThermalImagersCount + ' тепловізори'}}</span>
      <button mat-raised-button class="load-button" (click)="onLoadButtonClick()">Завантажити</button>
    </mat-card>
  </div>

  <div *ngIf="isLoadToStorageOpen">
    <mat-card class="load-section">
      Кількість товару на складі:
      <span>{{centralBaseDronCount + ' дрони'}}</span>
      <span>{{centralBaseThermalImagersCount + ' тепловізори'}}</span>
      <button mat-raised-button class="load-button" (click)="onLoadToStorageButtonClick()">Відвантажити</button>
    </mat-card>
  </div>

  <div *ngIf="isSendItemsOpen">
    <mat-card>
      Відправити товар

      <ul>
        <li *ngFor="let destination of destinations" class="cart-list-item">
          <span> {{destination.name}}</span>
          <span> Час доставки: {{destination.time}}</span>
          <button mat-raised-button (click)="sendCar(destination)">Відправити</button>
        </li>
      </ul>
    </mat-card>
  </div>
</div>

